<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<%- include('../includes/navigation.ejs') %>
    <section class="main__container">
        <h1><%= pageTitle %></h1>
        <div class="">
            <form action="/zatrazite-novu-sifru" class="" method="POST">
                <div class="">
                    <label for="email">Email</label>
                    <input type="email" name="email" id=email"">
                </div>
                <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">
                <button type="submit" class="">Zatražite Novu Šifru</button>
            </form>
            <% if (errorMessage) { %>
                <p><%= errorMessage %></p>
            <% } %>
        </div>
    </section>
<%- include('../includes/end.ejs') %>