<table>
    <caption><% if (isLeaderboard) { %>Rezultati<%} else { %>Timovi<% } %></caption>
    <thead>
        <tr>
            <th>Br.</th>
            <th>Naziv</th>
            <% if (isLeaderboard) { %>
                <th>Poeni</th>
                <th>Mesto</th>
                <th>Pobednik</th>
            <% } %>
            <% if (hasActions) { %>
                <th>Akcije</th>
            <% } %>
        </tr>
    </thead>
    <tbody>
        <% teams.forEach((team, index) => { %>
            <tr>
                <td><%= index + 1 %>.</td>
                <td><% if (team.teamId) { %><%= team.teamId.name %><% } else { %><%= team.name %><% } %></td>
                <% if (isLeaderboard) { %>
                    <td><%= team.points %> / <%= totalPoints %></td>
                    <td><%= team.place %>.</td>
                    <td>
                        <% if(team.isWinner) { %>
                            <% if (team.place.toString() === "1") { %>
                                &#129351;
                            <% } else if (team.place.toString() === "2") { %>
                                &#129352;
                            <% } else { %>
                                &#129353;
                            <% } %>
                        <% } else { %>
                            <% if (team.place.toString() < 7) { %>
                                &#127915
                            <% } else { %>
                                &#10060;
                            <% } %>
                        <% } %>
                    </td>
                <% } %>
                <% if (hasActions) { %>
                    <td>
                        <div class="flex-row">
                            <% actions.forEach(action => { %>
                                <% if (action.type === 'form') { %>
                                    <form action="<%= action.formAction %>" method="POST">
                                        <input type="hidden" name="teamId" value="<%= team._id %>">
                                        <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">
                                        <button class="btn" type="submit"><%= action.buttonName %></button>
                                    </form>
                                <% } else { %>
                                    <a class="btn" href="<%= action.link %><%= team._id %>"><%= action.linkName %></a>
                                <% } %>
                            <% }) %>
                        </div>
                    </td>
                <% } %>
            </tr>
        <% }) %>
    </tbody>
    <tfoot>
        <tr>
            <td>Ukupno</td>
            <td colspan="<% if (isLeaderboard) { %>4<% } else { %>3<% } %>"><%= teams.length %></td>
          </tr>
    </tfoot>
</table>