<table>
    <caption>Pitanja</caption>
    <thead>
        <tr>
            <th>Br.</th>
            <th>Opis</th>
            <th>Kategorije</th>
            <th>Težina</th>
            <th>Tip</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        <% quests.forEach((quest, index) => { %>
            <tr>
                <td><%= index + 1 %>.</td>
                <td><%= quest.description %></td>
                <td><%= quest.category.join(', ') %></td>
                <td><%= quest.difficulty %></td>
                <td><%= quest.type %></td>
                <td><a class="btn" href="/admin/pitanje-detalji/<%= quest._id %>">Vidi</a></td>
            </tr>
        <% }) %>
    </tbody>
    <tfoot>
        <tr>
            <td>Ukupno</td>
            <td colspan="5"><%= quests.length %></td>
          </tr>
    </tfoot>
</table>