<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/table.css">
<%- include('../includes/navigation.ejs') %>
    <section class="main__container">
        <h2><%= pageTitle %></h2>
        <div>
            <% if (events.length > 0) { %>
                <%- include("./event-table"), {events: events} %>
            <% } else { %>
                <p>Trenutno nema Događaja!</p>
            <% } %>
        </div>
    </section>
<%- include('../includes/end.ejs') %>